<html>

<head>

</head>

<body>
    <h1>Admin Page</h1>
    <div>
        <input type="file" name="fileToUpload" id="fileToUpload"></br>
        </br>
        <p>Enter game name:</p>
        <input type="text" id="gameName"></br>
        </br>
        <input type="submit" value="Done" id="doneButton" name="doneButton">
    </div>

    <!--<script type="text/javascript" src="vendor/jquery-3.1.1.min.js"></script>-->
    <!--<script type="text/javascript" src="/javascripts/Admin.js"></script>-->
</body>

</html>