<html>

<head>

</head>

<body>
    <h1>Admin Page</h1>
    <div>
        Insert a picture:
        <input type="file" name="fileToUpload" id="fileToUpload"></br>
        </br>
        <p>Enter game title:</p>
        <input type="text" id="gameName"></br>
        </br>
        Enter a description:
        </br>
        <textarea rows="4" cols="50">Game Description</textarea>
        </br>Enter rating:</br>
        <select id="rating">
            <option value="null">---</option>
            <option value="ec">Early Childhood</option>
            <option value="e">Everyone</option>
            <option value="e10">Everyone 10+</option>
            <option value="t">Teen</option>
            <option value="m">Mature</option>
            <option value="a">Adults only</option>
            <option value="rp">Rating Pending</option>
        </select>
        </br>Developer Name:</br>
        <input type="text" id="devName">
        </br>Release Date:</br>
        <input type="text" id="rDate">
        </br>Genre</br>
        <select id="genre">
            <option value="null">---</option>
            <option value="action">Action</option>
            <option value="adventure">Adventure</option>
            <option value="horror">Horror</option>
            <option value="rpg">RPG</option>
            <option value="fps">FPS</option>
            <option value="simulation">Simulation</option>
            <option value="sports">Sports</option>
            <option value="indie">Indie</option>
            <option value="racing">Racing</option>
            <option value="fighting">Fighting</option>
        </select>
        </br></br><input type="submit" value="Done" id="doneButton" name="doneButton">
    </div>

    <script type="text/javascript" src="vendor/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/Javascripts/Admin.js"></script>
</body>

</html>