<html>
<link rel="stylesheet" href="/css/style.css">

<head>

    <body>
        <!--<img src="https://vgboxart.com/boxes/PS4/76165-farcry-5-th.jpg">-->
        <div id="loginBar">
            <ul>
                <li><a href="/admin" style="color:black;text-decoration:none">Login</a></li>
                <li>Sign Up</li>
            </ul>
        </div>

        <div id="logo">
            <img src="/img/logo.png">
        </div>

        <div id="navBar">
            <ul>
            <li><a class="genreLink" href="games/all/action" style="color:black;text-decoration:none" id="genre">ACTION</a></li>
            <li><a class="genreLink" href="games/all/adventure" style="color:black;text-decoration:none">ADVENTURE</a></li>
            <li><a class="genreLink "href="games/all/horror" style="color:black;text-decoration:none">HORROR</a></li>
            <li><a class="genreLink "href="games/all/rpg" style="color:black;text-decoration:none">RPG</a></li>
            <li><a class="genreLink "href="games/all/fps" style="color:black;text-decoration:none">FPS</a></li>
            <li><a class="genreLink "href="games/all/simulation" style="color:black;text-decoration:none">SIMULATION</a></li>
            <li><a class="genreLink "href="games/all/sports" style="color:black;text-decoration:none">SPORTS</a></li>
            <li><a class="genreLink "href="games/all/indie" style="color:black;text-decoration:none">INDIE</a></li>
            <li><a class="genreLink "href="games/all/racing" style="color:black;text-decoration:none">RACING</a></li>
            <li><a class="genreLink "href="games/all/fighting" style="color:black;text-decoration:none">FIGHTING</a></li>
            </ul>
        </div>

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/Admin.js"></script> -->
    <!--<script type="text/javascript" src="/views/Javascripts/ViewGames.js"></script>-->
    </body>
</head>

</html>