<html>
<link rel="stylesheet" href="/css/style.css">



<head>

    <body>
        <div id="loginBar">
            <% if (user) { %> <h3 id="username" style="color:black;text-decoration:none;float:left;"><%=user.username %></h3> <% } %>
            <ul>
                <% if (user) { %> <li><a href="/auth/signout" style="color:black;text-decoration:none">Log Out</a></li> <% } else { %> <li><a href="/signin" style="color:black;text-decoration:none">Sign In</a></li> <% } %>
                <li><a href="/signup" style="color:black;text-decoration:none">Sign Up</a></li>
            </ul>
        </div>

        <div id="logo">
            <a href="/"><img src="/img/logo.png"></a>
        </div>

        <div id="navBar">
            <ul>
            <li><a class="genreLink" href="games/all/action" style="color:black;text-decoration:none" id="genre">ACTION</a></li>
            <li><a class="genreLink" href="games/all/adventure" style="color:black;text-decoration:none">ADVENTURE</a></li>
            <li><a class="genreLink "href="games/all/horror" style="color:black;text-decoration:none">HORROR</a></li>
            <li><a class="genreLink "href="games/all/rpg" style="color:black;text-decoration:none">RPG</a></li>
            <li><a class="genreLink "href="games/all/fps" style="color:black;text-decoration:none">FPS</a></li>
            <li><a class="genreLink "href="games/all/simulation" style="color:black;text-decoration:none">SIMULATION</a></li>
            <li><a class="genreLink "href="games/all/sports" style="color:black;text-decoration:none">SPORTS</a></li>
            <li><a class="genreLink "href="games/all/indie" style="color:black;text-decoration:none">INDIE</a></li>
            <li><a class="genreLink "href="games/all/racing" style="color:black;text-decoration:none">RACING</a></li>
            <li><a class="genreLink "href="games/all/fighting" style="color:black;text-decoration:none">FIGHTING</a></li>
            </ul>
        </div>
        
        

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/Admin.js"></script> -->
    <!--<script type="text/javascript" src="/views/Javascripts/ViewGames.js"></script>-->
    </body>
</head>

</html>