<html>
<link rel="stylesheet" href="css/style.css">

<head>

    <body>
        <div id="loginBar">
            <ul>
                <li><a href="views/admin.ejs" style="color:black;text-decoration:none">Login</a></li>
                <li>Sign Up</li>
            </ul>
        </div>

        <div id="logo">
            <img src="img/logo.png">
        </div>

        <div id="navBar">
            <ul>
                <li>ACTION</li>
                <li>ADVENTURE</li>
                <li>HORROR</li>
                <li>RPG</li>
                <li>FPS</li>
                <li>SIMULATION</li>
                <li>SPORTS</li>
                <li>INDIE</li>
                <li>RACING</li>
                <li>FIGHTING</li>
            </ul>
        </div>

        <!--<div id="gameSlider">-->
        <!--    <p>-->
        <!--        <u>FEATURED GAMES</u>-->
        <!--    </p>-->
        <!--    <img class="one" src="img/gta5.jpg">-->
        <!--    <img class="two" src="img/acs.jpg">-->
        <!--    <img class="three" src="img/wd2.jpg">-->
        <!--</div>-->
    </body>
</head>

</html>